<div>
    <p></p>
    <h1>ФОРМА ДОБАВЛЕНИЯ СВОЕГО ИНСТРУМЕНТА В БАЗУ САЙТА</h1>
    <form novalidate ng-submit="addTool()">
        <input class="form-control" type="text" placeholder="Название инструмента" ng-model="new_tool.title">
        <p></p>
        <input class="form-control" type="text" placeholder="Марка (производитель)" ng-model="new_tool.mark">
        <p></p>
        <input class="form-control" type="text" placeholder="Фото" ng-model="new_tool.photo">
        <p></p>
        <input class="form-control" type="text" placeholder="Владелец(арендодатель)" ng-model="new_tool.owner">
        <p></p>
        <input class="form-control" type="number" placeholder="Цена аренды в сутки" ng-model="new_tool.price">
        <p></p>
        <input class="form-control" type="number" placeholder="Сумма залога" ng-model="new_tool.deposit">
        <p></p>
        <input class="form-control" type="text" placeholder="Инструкции, дополнительная информация" ng-model="new_tool.instruction">
        <p></p>
        <button type="submit" class="btn btn-primary">Разместить в базе инструментов</button>
<!--        ДУМАЮ, ЧТО КАЛЕНДАРЬ БУДЕТ ФОРМИРОВАТЬСЯ УЖЕ ПОСЛЕ РАЗМЕЩЕНИЯ ИНСТРУМЕНТА И В ПРОЦЕССЕ ВЗЯТИЯ ЕГО В АРЕНДУ-->

    </form>
</div>