<div class="container">
    <p></p>
    <h1>ЛИЧНЫЙ КАБИНЕТ (СТРАНИЦА С ИНФО О СДАННЫХ В АРЕНДУ / АРЕНДОВАННЫХ ИНСТРУМЕНТАХ)</h1>
    <h3>Личные данные</h3>
    <p>{{'Пользователь: ТУТ ПОДГРУЗИТСЯ username' + userProfile.username}}</p>
    <p>{{'Имя: ТУТ ПОДГРУЗИТСЯ firstname' + userProfile.firstName}}</p>
    <p>{{'Фамилия: ТУТ ПОДГРУЗИТСЯ lastname ' + userProfile.lastName}}</p>
    <p>{{'E-Mail: ТУТ ПОДГРУЗИТСЯ email' + userProfile.email}}</p>

    <br/>

    <h4>Список инструментов, взятых в аренду</h4>
    <table class="table">
        <thead>
        <tr>
            <td>ID</td>
            <td>Название инструмента</td>
            <td>Марка (производитель)</td>
            <td>Владелец/арендодатель</td>
            <td>Срок аренды(Дата возврата)</td>
            <td>Сумма залога</td>
        </tr>
        </thead>
        <tbody>
        <!--//Код для работы с бэком. Здесь надо уточнить, что прилетает,чтобы выцепить инфо-->
        <!--                <tr ng-repeat="t in tools_in_rent">-->
        <!--                    <td>{{t.id}}</td>-->
        <!--                    <td>{{t.title}}</td>-->
        <!--                    <td>{{t.mark}}</td>-->
        <!--                    <td>{{t.owner}}</td>-->
        <!--                    <td>{{t.lastDate}}</td>-->
        <!--                    <td>{{t.deposit}}</td>-->
        <!--                </tr>-->

        <!--//код для наглядности, пока бэк не подключился-->
        <tr>
            <td>{{'1'}}</td>
            <td>{{'Дрель'}}</td>
            <td>{{'Makita'}}</td>
            <td>{{'Владелец'}}</td>
            <td>{{'31.05.2022'}}</td>
            <td>{{'3000'}}</td>
        </tr>
        </tbody>
    </table>

    <h4>Список инструментов, выставленных на сайте для передачи в аренду</h4>
    <table class="table">
        <thead>
        <tr>
            <td>ID</td>
            <td>Название инструмента</td>
            <td>Марка (производитель)</td>
            <td>Пользователь/арендатор</td>
            <td>Срок аренды(Дата возврата)</td>
            <td>Сумма залога</td>
        </tr>
        </thead>
        <tbody>
        <!--//Код для работы с бэком-->
        <!--                <tr ng-repeat="t in tools">-->
        <!--                    <td>{{t.id}}</td>-->
        <!--                    <td>{{t.title}}</td>-->
        <!--                    <td>{{t.mark}}</td>-->
        <!--                    <td>{{t.owner}}</td>-->
        <!--                    <td>{{t.lastDate}}</td>-->
        <!--                    <td>{{t.deposit}}</td>-->
        <!--                </tr>-->

        <!--//код для наглядности, пока бэк не подключился-->
        <tr>
            <td>{{'1'}}</td>
            <td>{{'Дрель'}}</td>
            <td>{{'Makita'}}</td>
            <td>{{'Арендатор'}}</td>
            <td>{{'31.05.2022'}}</td>
            <td>{{'3000'}}</td>
        </tr>
        </tbody>
    </table>

</div>