<div>
    <h1>СТРАНИЦА АВТОРИЗАЦИИ</h1>
<p></p>
    <h2>Форма авторизации для зарегистрированных пользователей</h2>

    <li class="nav-item">
<!--    <li class="nav-item" ng-show="!isUserLoggedIn()"> //КОГДА СОЗДАДИМ АВТОРИЗАЦИЮ МОЖНО БУДЕТ ПОДВЯЗАТЬ ПОКАЗ В ЗАВИСИМОСТИ ОТ ТОГО, ЗАЛОГИНИЛСЯ ИЛИ НЕТ-->
        <form class="align-middle" ng-submit="tryToAuth()">
            <div class="input-group input-group-sm" style="padding: 4px;">
                <input id="navLoginField" class="form-control" ng-model="user.username" type="text"
                       aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">

                <input id="navPasswordField" class="form-control" ng-model="user.password" type="password"
                       aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">

                <button id="navLoginSubmit" class="btn btn-outline-warning btn-sm"
                        style="margin-left: 10px;" type="submit">Авторизоваться</button>
            </div>
        </form>
    </li>
<!--    <li class="nav-item" ng-show="isUserLoggedIn()" style="padding: 4px;">-->
<!--        <button class="btn btn-outline-secondary btn-sm" ng-click="tryToLogout()">Выйти</button>-->
<!--    </li> //КОГДА СОЗДАДИМ АВТОРИЗАЦИЮ МОЖНО БУДЕТ ПОДВЯЗАТЬ ПОКАЗ В ЗАВИСИМОСТИ ОТ ТОГО, ЗАЛОГИНИЛСЯ ИЛИ НЕТ-->

    <p></p>
    <p></p>
    <h2>Если вы еще не зарегистрированы, вам необходимо это сделать</h2>
    <br/>

    <button class="btn btn-primary" ng-click="navToRegistration()">ПРОЙТИ РЕГИСТРАЦИЮ</button>



</div>