<div>
    <h3>Форма регистрации для новых пользователей</h3>
    <br/>
    <form novalidate ng-submit="registerUser()">
        <input class="form-control" type="text" placeholder="Введите логин" ng-model="new_user.username">
        <p></p>
        <input class="form-control" type="text" placeholder="Введите имя" ng-model="new_user.firstNAme">
        <p></p>
        <input class="form-control" type="text" placeholder="Введите фамилию" ng-model="new_user.lastName">
        <p></p>
        <input class="form-control" type="text" placeholder="Введите e-mail" ng-model="new_user.email">
        <p></p>
        <input class="form-control" type="text" placeholder="Введите пароль" ng-model="new_user.password">
        <p></p>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>

</div>